@media (max-width: 1024px) {
    .head-bg__text1 {
        font-size: 20px;
    }

    .head-bg__text2 {
        font-size: 45px;
        line-height: 60px;
    }

    .head-bg__text3 {
        font-size: 15px;
    }

    .l-img-position {
        top: 22%;
        right: 36%;
        height: 60%;
    }

    .blog__box {
        padding: 10px 0px 0px 10px;
    }

    .about-img-position2 {       
        display: none;
    }

    
}


@media (max-width: 768px) {
    .head-bg__text1 {
        font-size: 16px;
    }

    .head-bg__text2 {
        font-size: 40px;
        line-height: 50px;
    }

    .l-img-position {
        top: 16.5%;
        right: 36.5%;
        height: 45%;
    }

    .icon-text {
        font-size: 13px;
    }

    .blog__box {
        padding: 5px 0px 0px 5px;
    }

    
    .head-mobile-m {
        font-size: 25px;
    }


    .about-img-position2 {
        display: none;
    }

    .mobile-blog-pad2 {
        padding-right: 0px !important;
    }
    
}



@media (max-width: 480px) {
    .head-bg__text1 {
        font-size: 15px;
    }

    .brand-logo {
        width: 70%;
    }

    .head-bg__text2 {
        font-size: 30px;
        line-height: 40px;
    }
    .head-bg__text3 {
        font-size: 13px;
    }

    .btn-sm2 {
        font-size: 13px;
        padding: 10px 20px 10px 20px;
    }

    .l-img-position {
        display: none;
    }

    .blog__box {
        padding: 2px 2px 2px 2px;
    }

    .overlay {
        width: 50%;
    }
    

    .head-mobile-m {
        font-size: 25px;
    }

    .blog-media-text {
        font-size: small;
    }

    .foot-text {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .blog-media-subtext {
        display: block;
        padding-left: 0px !important;
        padding-top: 5px;
    }
}



@media (max-width: 320px) {
    .navbar-brand {
        width: 70%;
    }

    .brand-logo {
        width: 70%;
    }

    .head-bg__text1 {
        font-size: 13px;
    }

    .head-bg-text2 {
        font-size: 25px;
        line-height: 30px;
    }

    .head-bg__text3 {
        font-size: 12px;
    }

    .icon-text {
        font-size: 13px;
    }

    .overlay {
        width: 68%;
    }

    

    .mobile-blog-pad {
        padding: 0px !important; 
    }

    .foot-text {
        font-size: 13px;
    }

    
}